html{
    scroll-behavior: smooth;
}
*::-webkit-scrollbar {
    width: 10px;
}
  *::-webkit-scrollbar-track {
    background: #181818;
    border-radius: 10px; 
    opacity: 0.5;
}
  *::-webkit-scrollbar-thumb {
    background-color: #ac24ce;
    border-radius: 20px;
    border: 2px solid #181818;
}
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}
body{
    position: relative;
    font-family: Calibri;
}
*{
    transition: .15s ease-in-out;
}
.cover{
    background-image: linear-gradient(-45deg, rgba(163,29,196,0.35), rgba(101,127,255,0.35)), url(../img/cover.jpg);
    background-image: -moz-linear-gradient(-45deg, rgba(163,29,196,0.35), rgba(101,127,255,0.35)), url(../img/cover.jpg);
    background-image: -webkit-linear-gradient(-45deg, rgba(163,29,196,0.35), rgba(101,127,255,0.35)), url(../img/cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}
/*staaaaart Naaaaaavbaaaaaaaaaaaar*/
.navbar {
    width: 100%;
    background-color: transparent;
    z-index: 3;
}
.scrolled {
    padding: 5px 0px;
    width: 100%;
    background-color: #181818;
    z-index: 3;
}
/*naaaaaaaaaav taaaaaaabs is necessary to make active class*/
.nav-tabs {
    border-bottom: 0px;
}
.navbar-expand-lg .nav-tabs .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius:0px;
}
/*foooooooooooooooooor active and hooooover*/
.navbar .nav-item .active.nav-link{
    background-color: transparent;
    color: #181818;
}
.navbar-brand span{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.12rem;
}
.navbar-brand span{
    font-weight: bold;
    font-size: 1em;
}
/*End Naaavbaaaar*/

/*staaaaaaaart image overlaaaaay*/
.cover-text h1{
    font-size: 4em;
    color: #ddd;
    font-weight: bold;
    text-shadow: -2px 5px 5px #A31DC4;
}
.cover-text p{
    font-size: 2em;
    color: #ddd !important;
}
.know-button{
    margin-top: 20px;
    color: #fff;
    text-transform: uppercase;
    background-color: rgba(255,255,255,0.2);
    border: 2px solid #fff;
    border-radius: 1px;
    font-size: 17px;
    transition: all 0.3s ease-in-out;

}
.know-button:hover{
    color: #5E1171;
    background-color: rgba(255,255,255,1);
}
.down-arrow{
    color: #fff;
    transition: all 0.5s ease-in-out;
    -webkit-animation: down 1s infinite linear;
    -moz-animation: down 1s infinite linear;
    animation: down 1s infinite linear;
    animation-direction: alternate;
}
.down-arrow a{
    color: #fff;
}
@keyframes down{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-20px);
    }
}
@-webkit-keyframes down{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-20px);
    }
}
@-moz-keyframes down{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-20px);
    }
}
/*End Hoooooome Section */
.about-sec{
    background-color: #fff;
    line-height: 1.5;
    overflow: hidden;
}
.sec-title h1{
    color: #444;
    font-size: 2.4em;
    font-weight: bold;
}
.sec-title h4{
    color: #888;
}
.profile{
    overflow-x: hidden;
}
.profile-img{
    overflow: hidden;
}
.profile-data{
    padding: 0px !important;
    margin: 0px !important;
    border: 5px solid #5E1171;
}
.profile-data img{
    transform: translate(4.5%, 3.5%);
    box-shadow: -2px -2px 5px #A31DC4;
}
.header{
    position: relative;
    color: #444;
    font-size: 2.1em;
    font-weight: 700;
}
.header:before{
    position: absolute;
    content: "";
    width: 5px;
    height: 75%;
    background-color: #5E1171;
    border-radius: 5px;
    left: 0px;
    right: 0px;
    top: 10%;
    bottom: 0px;
}
.profile h3{
    color: #444;
    font-size: 1.4em;
    font-weight: bold;
}
.profile p{
    font-size: 18px;
    color: #777;
}
.profile-col{
    overflow-x: hidden;
}
.profile-col ul li{
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}
.profile-icon{
    color: #555;
}
.profile-col ul li:hover .profile-icon{
    color: #5E1171;
    text-decoration: none;
}
.contact-info ul li{
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}
.contact-info ul li:hover .profile-icon{
    color: #5E1171;
    text-decoration: none;
}
/*Start Skill Seeeeection*/
.skill-sec{
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 70px;
    line-height: 1.5;
}
.skill-sec h1{
    font-size: 2.2em;
    color: #444;
    font-weight: bolder;
    padding-bottom: 10px;
}
.skill-sec p{
    font-size: 19px;
    color: #888;
}
.skill-value h4{
    color: #888;
    float: left;
}
.skill-value h5{
    color: #888;
    float: right;
}
.skill-value{
    padding-top: 0px;
    display: block;  
    padding-bottom: 10px;
    width: 100%;
}
.skills{
    padding-top: 15px;
    padding-bottom: 15px;
}
.progress-bar {
    background-color: #5E1171;
}
.progress1{
    transition: ease-in-out;
    animation-name: prog-animate1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
@keyframes prog-animate1{
    0% {
        width: 0%;
    }
    25%
    {
        width: 20%;
    }
    50% {
        width: 40%;
    }
    75% {
        width: 60%;
    }
    100%{
        width: 79%;
    }
}
.progress2{
    transition: ease-in-out;
    animation-name: prog-animate2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
@keyframes prog-animate2{
    0% {
        width: 0%;
    }
    25%
    {
        width: 20%;
    }
    50% {
        width: 40%;
    }
    75% {
        width: 70%;
    }
    100%{
        width: 90%;
    }
}
.progress3{
    transition: ease-in-out;
    animation-name: prog-animate3;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
@keyframes prog-animate3{
    0% {
        width: 0%;
    }
    25%
    {
        width: 20%;
    }
    50% {
        width: 40%;
    }
    75% {
        width: 70%;
    }
    100%{
        width: 96%;
    }
}
.progress4{
    transition: ease-in-out;
    animation-name: prog-animate4;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
@keyframes prog-animate4{
    0% {
        width: 0%;
    }
    25%
    {
        width: 20%;
    }
    50% {
        width: 40%;
    }
    75% {
        width: 50%;
    }
    100%{
        width: 70%;
    }
}

.skill-button, .work-button, .portfolio-button, .contact-button{
    border-radius: 1px;
    background-color: rgba(94,17,113, 0.8);
    font-size: 17px;
    color: #fff;
    transition: all 0.15s ease-in-out;
}
.skill-button:hover , .work-button:hover, .portfolio-button:hover, .contact-button:hover{
    background-color: rgb(94,17,113);
    color: #eee;
}
/*whaaaaaaat i dooooo section*/
.work-sec{
    padding-top: 60px;
    padding-bottom: 70px;
    background-color: #F5F5F5;
}
.work-sec h1{
    font-size: 2.2em;
    color: rgb(94,17,113);
    font-weight: bolder;
    padding-bottom: 10px;
}
.work-sec p{
    font-size: 20px;
    color: #888;
}
.work-inner{
    margin-top: 70px;
    width: 100%;
    text-align: left;
    line-height: 1.6;
}
.work-inner .work-inner-data{
    cursor: pointer;
    padding: 25px;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #ccc;
    transition: all 0.3s ease-in-out;
}
.work-inner-data:hover{
    transform: translateY(-3px);
    transition: all 0.3s ;
    box-shadow: -2px 2px 5px #A31DC4;
}
.work-inner .work-inner-data h2{
    color: #5E1171;
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}
.work-inner-data .work-icon{
    border-radius: 2px;
    width: 40px;
    height: 40px;
    background-color: #F5F5F5;
}
.work-inner .work-inner-data:hover .work-icon{
    background-color: #5E1171;
    color: #fff;
}
.work-inner-data:hover.work-inner-data h2{
    color: #181818;
}

/*staaaaaaaaaaart work secoooond part*/
.work-second-part{
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url(../img/work.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.work-second-part .second-part-inner{
    padding: 35px 30px;
    background-color: transparent;
    color: #5E1171;
    border: 1px solid #444;
}
.work-second-part .second-part-inner h1{
    padding-top: 25px;
    padding-bottom: 17px;
    font-size: 3em;
    font-weight: bold;
    color: #fff;
}
.work-second-part .second-part-inner h2{
    font-size: 1.2em;
    font-weight: bold;
}
/*poooooortfolio Section*/
.portfolio-sec{
    background-color: #F5F5F5;
    padding-top: 60px;
    padding-bottom: 70px;
    line-height: 1.5;
}
.portfolio-sec h1{
    font-size: 2.2em;
    color: #444;
    font-weight: bolder;
}
.portfolio-sec p{
    font-size: 19px;
    color: #888;
    padding-top: 5px;
    padding-bottom: 10px;
}
.portfolio-nav{
   margin-top: 50px;

}
.portfolio-nav .nav-link {
    font-size: 18px;
    font-weight: bold;
    color: #555;
    border: 2px solid #ddd;
    border-radius: 2px;
    margin-right: 4px;
    padding: 9px 21px;
    transition: all 0.1s ease-in-out;
}
.portfolio-nav .nav-link:hover {
    border: 2px solid #5E1171 ;
    color: #5E1171;
}
.portfolio-nav .nav-link.active {
    color: #fff;
    background-color: #5E1171;
    border-color: #5E1171;
}
.card{
    overflow: hidden;
    cursor: pointer;
}
.card-img-overlay {
    transition: all 0.3s ease-in-out;
    opacity: 0;
    background-color: rgba(94,17,113,0.3);
    transform: translateY(100%);
}
.card-img-overlay h2{
    font-weight: bold;
}
.card-img-overlay h1, .card-img-overlay i{
    color: #ddd;
}
.card:hover .card-img-overlay{
    opacity: 1;
    transform: translateY(0);
}

.feedback-sec{
    background: url(../img/client-testimonial.jpg);
    background-attachment: fixed;
    padding-top: 60px;
    padding-bottom: 50px;
    padding-right: 40px;
    padding-left: 40px;
    color: #fff;
}
.slider-nav{
    width: 90%;
}
.carousel-inner{
    /* padding: 0px 2.5%; */
    width: 45%;
    line-height: 1.2;
}
.carousel-inner img{
    width: 100px;
    margin: 10px auto;
    border-radius: 50%;
    border: 5px solid #5E1171;
    }
.carousel-inner h1{
    padding-top: 15px;
    font-size: 1.8em;
    font-weight: bold;
    color: #5E1171;
}
.carousel-inner p{
    padding-top: 15px;
    color: #ccc;
    font-size: 20px;
    font-weight: 500;
}
.hire-sec{
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 0px;
    line-height: 1.5;
}
.hire-sec h1{
    font-size: 2.6em;
    color: #444;
    font-weight: bolder;
}
.hire-sec h2{
    font-size: 1.3em;
    color: #444;
    font-weight: 700;
}
.hire-sec p{
    font-size: 19px;
    color: #888;
    padding-top: 5px;
    padding-bottom: 10px;
}
.contact-mail{
    color: #5E1171;
}
.contact-mail:hover{
    text-decoration: none;
    color: #af2424;
}
.contact-info ul li{
    display: inline-block;
}
.contact-icon-div{
    width: 40px;
    height: 40px;
    border: 1px solid #888;
    background-color: #fff;
    padding: 10px;
    transition: all 0.1s ease-in-out;

}
.contact-icon-div a{
    color: #888;
    transition: all 0.1s ease-in-out;
}
.contact-icon-div:hover{
    border-color: #5E1171;
    background-color: #5E1171;
}
.contact-icon-div:hover a{
    color: #fff;
}
/*staaaaaaaaaart fooooooorm*/
.form-control{
    height: 45px;
    font-size: 1.2em;
    color: #ccc;
    border: 2px solid #ccc;
    border-radius: 1px;
}
/*preeeeeeefiiiiix*/
.form-control::-webkit-input-placeholder {
  color: #ccc;
  opacity: 1;
}
.form-control::-moz-input-placeholder {
  color: #ccc;
  opacity: 1;
}
.form-control::input-placeholder {
  color: #ccc;
  opacity: 1;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #444;
  outline: 0;
  box-shadow: 0px 0px 0px;
}

.contact-hr{
    color: #eee;
}
.footer-div{
    background-color: #fff;
    color: #eee;
    padding-top: 10px;
    padding-bottom: 20px;
}
.footer-div p{
    color: #ccc;
    font-size: 17px;
}
.footer-div p a{
    color: #5E1171;
    transition: all 0.1 ease-in-out;
}
.footer-div p a:hover{
    text-decoration: none;
}
@media (max-width: 991px){
    .navbar {
        background-color: #5E1171 !important;
        z-index: 3;
    }
}
@media only screen and (max-width: 768px) {
    .profile-col{
        padding: 0px 5% !important;
        overflow-x: hidden;
    }
    .slider-nav{
        display: none;
        visibility: hidden;
        opacity: 0;
    }
    .cover-text h1{
        font-size: 2em;
    }
    .cover-text p{
        font-size: 1em;
    }
    /* .carousel-inner{
        padding: 0px !important;
        width: 100% !important;
        margin: 0px !important;
    } */
  }
  @media only screen and (max-width: 768px) {
    .profile-data img{
        transform: translate(0, 0);
        box-shadow: -2px -2px 5px #A31DC4;
    }
    .profile-data{
        border: 0px;
    }
  }